.Header{
  font-size: 1.5em;
  color: white;
}

.Header-menu{
  text-align: center;
}

.Header-menu-user{
  margin-right: 10px;
  align-items: center;
}

.teklif{
  margin-left: 1em;
}
.Header-logo{
  display: flex;
}

.container{
  padding: 30px;
  background-color: red;
}