.container{
  padding: 30px;
  background-color: red;
}

.Header{
  font-size: 1.5em;
  color: white;
}

.Header-menu-user{
  margin-right: 10px;
  text-align: right;
}

.Header-menu-property{
  text-align: right;
}